html
  html
  include includes/head.pug
  body
    div.container
      div.page-header
        h1 Error
        div.jumbotron
          div
            p
              | User doesn't exist! Please
              a(href='/') try again
            p
              | Or
              a(href='/create') sign up

