html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body

    div.container
      div.page-header
        h1 Welcome
        div.jumbotron
        a(href="/logout") Logout!
