doctype html
html
    include includes/head.pug
    body
      .container
        .header.clearfix
          nav
            ul.nav.nav-pills.pull-right
              li.active(role='presentation')
                a(href='#') Home
              li(role='presentation')
                a(href='/about') About
              li(role='presentation')
                a(href='/contact') Contact
          h3.text-muted Take Fifteen
        .jumbotron
          h2 Welcome
          h3 !{user}
          p.lead
            | Take a break and browse
          p
        .row.marketing
          .col-lg-6
            h4
              a(href='/news') News Headlines
            p
              | view headlines from various news sources and choose what you want to read
          .col-lg-6
            h4
              a(href='/museum') Browse Artworks
            p
              | search the entire collection of a museum. currently available: the Rijksmuseum collection

        footer.footer
          p
            | © 2016 Leslie L Behum |
            a(href='/logout') Log out
            | |
            a(href='/user/'+id) Account Settings
      //- // /container
      //- // IE10 viewport hack for Surface/desktop Windows 8 bug
      //- script(src='../../assets/js/ie10-viewport-bug-workaround.js')

