doctype html
html
  include sign_in/includes/head.pug
  script(src='js/jquery.js')
  script(src='js/art.js')
  body
      .container
        .header.clearfix
          nav
            ul.nav.nav-pills.pull-right
              li.active(role='presentation')
                a(href='/') Home
              li(role='presentation')
                a(href='/about') About
              li(role='presentation')
                a(href='/contact') Contact
          h3.text-muted Take Fifteen
        .jumbotron
          .input-group
            input.form-control(type='text', placeholder='ex. Picasso')
            span.input-group-btn
              button.btn.btn-default(type='button') Go!
          div#results.container
            table.table

            .clearfix


        footer.footer
          p © 2016 Leslie L Behum
      //- // /container
      //- // IE10 viewport hack for Surface/desktop Windows 8 bug
      //- script(src='../../assets/js/ie10-viewport-bug-workaround.js')


