doctype html
html
  include sign_in/includes/head.pug

body
  .container
        .header.clearfix
          nav
            ul.nav.nav-pills.pull-right
              li.active(role='presentation')
                a(href='/') Home
              li(role='presentation')
                a(href='/about') About
              li(role='presentation')
                a(href='/contact') Contact
          h3.text-muted Take Fifteen
        .jumbotron
          p.lead
            | Contact stuff
          p
        .row.marketing
          .col-lg-12

        footer.footer
          p © 2016 Leslie L Behum
