doctype html
html
  include sign_in/includes/head.pug
  link(href='/css/signin.css', rel='stylesheet')

  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='/') Home
            li(role='presentation')
              a(href='#') About
            li(role='presentation')
              a(href='/contact') Contact
        h3.text-muted Take Fifteen
      .jumbotron
        form.form-signin(method='POST', action='/signin')
          h2.form-signin-heading Please sign in:
          label.sr-only(for='inputEmail') Email
          input#inputEmail.form-control(type='email', placeholder='Email', name='email')
          label.sr-only(for='inputPassword') Password
          input#inputPassword.form-control(type='password', placeholder='Password', name='password')
          .checkbox
            label
              input(type='checkbox', value='remember-me')
              |  Remember me
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        a(href='/create') Or Sign-up
      .row.marketing
        //-
      footer.footer
        p © 2016 Leslie L Behum
    //- // /container
    //- // IE10 viewport hack for Surface/desktop Windows 8 bug
    //- script(src='../../assets/js/ie10-viewport-bug-workaround.js')




