body {
  background-image: url('/img/break.jpg');
  background-attachment:fixed;
  background-size: cover;
}
tr:hover {
  background-color: skyblue;
}
.description {
  text-align: justify;
}
button.btn.btn-default {
  font-size: 15px;
  height: 34px;
  padding: 8px;
}
.child {
  text-align: justify;
}
#results {
  margin: 10px;
}
.thumbnail {
  align-content: center;
}
.ind {
  width: 416px;
  height: 71px;
}
.buzz {
  width: 416px;
  height: 71px;
}
.nymag {
  width: 325px;
  height: 71px;
}
.content {
  display: none;
}
.media-left {
  padding: 10px;
}
.glyphicon {
  color: red;
  height: 10px;
  width: 10px;
  }
#glyph {
  margin-left: 515px;
  }
.nav-pills.pull-right {
  border-radius: 0px;
}
a {
  color: black;
}
h3.text-muted {
  color: black;
  font-family: 'Yeseva One', cursive;
  font-size: 40px;
}
